<!DOCTYPE html>
<html>
<head>
	<title>Results</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<style>

h1 {
	font-size: 140px;
}

.topbar {
	background-color: #011c28;
	height: 55px;
	padding-top: 10px;
	padding-right: 20px;
	text-align: right;
}

a {
	color: white;
}
a:hover {
	text-decoration: none;
	color: white;
}

.pull-right {
	float: right !important;
	text-align: center;
	background-color: grey;
	padding: 0px 150px 20px 20px;
	
}

p {
	color: white;
}

#temp {
	font-size: 150px;
	font-weight: bold;
}

#degree {
	font-weight: lighter;

}

#description {
	font-size: 40px;
	margin-top: -50px;
}

.button {
	float: left;
}

</style>



</head>
<body>
	<div class="topbar">
		<div class="content">
		
		
		<button type="button" class="btn btn-primary"><a href="http://localhost:8000/logout">Logout</a></button>
		</div>
	</div>

	<div class="container">
		<h1><%= location.name %>, <%= location.sys.country %></h1>
	</div>
	
	
	<div class="pull-right">
		<p id="temp"> <%=Math.floor((location.main.temp - 273.15) * 1.8 + 32) %><span id="degree">°F</span> / <%=Math.floor(location.main.temp - 273.15) %><span id="degree">°C</span></p>

		 

		<p id="description"> <%=location.weather[0].description%></p>
	

		
		<div class="button">
			<button><a href="http://localhost:8000/profile">Check another city</a></button>
		</div>
			<form type="submit" method="POST" action="/locations/create">
				<input type="hidden" name="location" value="<%= location.name %>">
				<input type="submit" value="Save City">
			</form>
		</div>
	</div>

</body>
</html>
