<!DOCTYPE html>
<html>
<head>
	<title>Results</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
<style>

h1 {
	font-size: 60px;
	text-align: center;
}

.topbar {
	background-color: #011c28;
	height: 55px;
	padding-top: 10px;
	padding-right: 20px;
	text-align: right;
}

a {
	color: white;
}
a:hover {
	text-decoration: none;
	color: white;
}


#degree {
	font-weight: lighter;

}

#description {
	font-size: 50px;
	
}

.button {
	float: left;
}

#circle {
	width:250px;
	height:250px;
	border-radius:250px;
	font-size:60px;
	color:#fff;
	line-height: 250px;
	text-align:center;

	background:#223944;
	
	vertical-align: center;
	font-family: 'Raleway', sans-serif;
}

#temp {
	float: left;
	margin-left: 40px;
}

ul.img-list {
list-style-type: none;
margin: 0;
padding: 0;
text-align: center;
}

ul.img-list li {
width: 350px;
height: 350px;
position: relative;
display: inline-block;
}

span.text-content {
  background: rgba(51,204,204,.9);
  color: white;
  cursor: pointer;
  display: table;
  width:250px;
  height:250px;
  border-radius:250px;
  left: 0;
  position: absolute;
  top: 0;
  opacity: 0;
  font-size: 150px;

}
 
span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}
</style>



</head>
<body>

	<div class="topbar">
		<div class="content">
		
		<button type="button" class="btn btn-primary"><a href="/logout">Logout</a></button>
		</div>
	</div>

	
		<h1><%= location.name %> . <%= location.sys.country %></h1>
	
	
	
	<!--<div class="pull-right">
		<p class="circle" id="temp"> <%=Math.floor((location.main.temp - 273.15) * 1.8 + 32) %><span id="degree">째F</span></p> 


		<p><%=Math.floor(location.main.temp - 273.15) %><span id="degree">째C</span></p>

		 

		<p id="description"> <%=location.weather[0].description%></p>-->
	

		
		<div class="button">
			<button><a href="/profile">Check another city</a></button>
		</div>
			<form type="submit" method="POST" action="/locations/create">
				<input type="hidden" name="location" value="<%= location.name %>">
				<input type="submit" value="Save City">
			</form>
		</div>
	</div>

<ul class="img-list">
	<li><p id="circle">째F</p> <br>
	<span class="text-content"><span><%=Math.floor((location.main.temp - 273.15) * 1.8 + 32) %></span></span></li>

	<li><p id="circle"></p><br>
	<span id="description" class="text-content"><span><%=location.weather[0].description%></span></span></li>

	<li><p id="circle">째C</p><br>
	<span class="text-content"><span><%=Math.floor(location.main.temp - 273.15) %></span></li>
</ul>



</body>
</html>
