<!DOCTYPE html>
<html>
<head>
	<title>Results</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
<style>

h1 {
	font-size: 70px;
	text-align: center;
	padding-top: 20px;
}

.topbar {
	background-color: #011c28;
	height: 55px;
	padding-top: 10px;
	padding-right: 20px;
	text-align: right;
}

#logout {
	text-decoration: none;
	color: white;
}

.button1 {
	text-align: center;
}

#checkCity {
	text-decoration: none;
	color: black;
}

.button2 {
	
	text-align: center;
	padding-top: 20px;
}

#description {
	font-size: 50px;
	text-transform: uppercase;
	
}

.circle {
	width:290px;
	height:290px;
	border-radius:290px;
	font-size:60px;
	color:#fff;
	line-height: 290px;
	text-align:center;
	background:#223944;
	vertical-align: center;
	font-family: 'Raleway', sans-serif;
}

#temp {
	margin: 0 auto;
	
}


ul.img-list {
list-style-type: none;
text-align: center;
}

ul.img-list li {
width: 350px;
height: 350px;
position: relative;
display: inline-block;
}

span.text-content {
  background: rgba(51,204,204,.9);
  color: white;
  cursor: pointer;
  display: table;
  width:290px;
  height:290px;
  border-radius:290px;
  left: 0;
  position: absolute;
  top: 0;
  opacity: 0;
  font-size: 150px;
  font-family: 'Oswald', sans-serif;

}
 
span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}

#middle {
	font-size: 30px;

}

.img-list {
	margin-top: 60px;
}


</style>



</head>
<body>

	<div class="topbar">
		<div class="content">
			<button  type="button" class="btn btn-primary"><a id="logout" href="/logout">Logout</a></button>
		</div>
	</div>

		<h1><%= location.name %> . <%= location.sys.country %></h1>
	
	<div id="temp">
		<ul class="img-list">
			<li><p class="circle">°F</p> <br><span class="text-content"><span><%=Math.floor((location.main.temp - 273.15) * 1.8 + 32) %></span></span></li>

			<li><p class="circle" id="middle">rain or shine?</p> <br><span id="description" class="text-content"><span><%=location.weather[0].description%></span></span></li>

			<li><p class="circle">°C</p><br><span class="text-content"><span><%=Math.floor(location.main.temp - 273.15) %></span></span></li>
		</ul>
	</div>

	<div class="button1">
			<button type="submit" class="btn btn-default btn-lg"><a id="checkCity" href="/profile">Check another city</a></button>
	</div>

	<div class="button2">
			<form type="submit" method="POST" action="/locations/create">
				<input type="hidden" name="location" value="<%= location.name %>">
				<button style="width:185px" type="submit" class="btn btn-danger btn-lg" value="Save City">Save City</button>
			</form>
	</div>


</body>
</html>
